{% extends "files/base.html" %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for file in files %}
                <div class="file">
                    <div class="date">
                        {{ file.published_date }}
                    </div>
                    <h1><a href="{% url "arkaliv.views.file_detail" pk=file.pk %}">{{ file.title }}</a></h1>
                    <p>{{ file.text|linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}